@import "bootstrap-sprockets";
@import "bootstrap";

/* ミックスイン、変数等 */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* 全般 */

body {
  padding-top: 60px;
  font-family: Helvetica,Arial,sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* タイポグラフィー */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* ヘッダー */

.navbar-inverse {
  background: #98c5e9;
  border: 0;
}

ul.nav li {
  float: right;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #00285e;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: #00285e;
  font-weight: bold;
}

/* フッター */

footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* デバッグ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 30px;
  @include box_sizing;
}

/* ボタン */

.btn-primary {
  background: #98c5e9;
  color: #00285e;
  border: 0;
  font-weight: bold;
  &:hover {
    background: #98c5e9;
    color: white;
  }
}

.btn-danger {
  font-weight: bold;
}

/* サイドバー */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-medium-light;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* フォーム */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* ホーム */
#btn-left {
  margin-right: 10px;
}

#btn-right {
  margin-left: 10px;
}

/* ユーザー */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-medium-light;
  }
}

/* ポスト */

.posts {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-medium-light;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .title {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.photo {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* リレーションシップ */
.btnsub {
  background-color: lightgray;
}

/* remember me */
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: 0;
  margin-top: 4px \9;
}

/* 検索ボックス */
dl.search-box{
  position: relative;
  width: 270px;
  height: 30px;
}

dl.search-box dt input{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 30px;
  margin: 0;
  padding: 0;
  border: 1px solid $gray-medium-light;
  border-radius: 7px;
}

.search-btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  line-height: 31px;
  margin: 0;
  padding: 0;
  border-radius: 7px;
}

/* ホームページ */

.center.jumbotron {
  background: image-url('home.jpg') center;
  background-size: cover;
  width: 100%;
  height: 570px;
  display: table;
}

#home {
  display: table-cell;
  vertical-align: middle;
  h1, h2 {
    color: #00285e;
    text-shadow: 1px  1px 1px #98c5e9;
    font-weight: bold;
  }
}
