<footer class="footer">
  <small>
    The <%= link_to "Photo Exhibition", root_path %> by Yutaro Adachi
  </small>
  <nav>
    <ul>
      <li><%= link_to "写真を展示する", '#' %></li>
    </ul>
  </nav>
</footer>